<div class="logo-inner">
        <a href="" [routerLink]="['/home/']"> <img src="../../assets/img/logo-home.png"></a>
</div>
<div class="register-sec">

    <h2>SELF CHECK IN KIOSK</h2>
    <h3>Welcome To  {{userData?.DeploymentName}} </h3>
    <h3> {{userData?.Address}}
        <span *ngIf="userData?.ContactNumber"><br>Phone {{userData?.ContactNumber}}</span>
    </h3>
    <h3 *ngIf="userData?.VisitorParkingSpace">Visitor Parking Space : Lot# A & B {{userData?.VisitorParkingSpace}}
    </h3>
<div class="btn-sec">
    <div class="text-center"><button class="btn-primary" (click)="onClick('/scancard/')"> VISITOR <br>REGISTRATION

    </button></div>


</div>
</div>
